Grid {
    align: center middle;
    grid-size: 2 4;
    grid-gutter: 1 2;  
}

# ScreenInicial Screen {
#     background: green;
# }

# ScreenInicial {
#     background: green;
# }

# ScreenInicial Button {
#     background: green;
# }

# ScreenInicial  {
#     background: green;
# }