Screen {
    background: rgb(194, 205, 216);
    color: black;
}

Footer, Header {
    background: black;
    color: white;
}

Tab {
    color: black;
}

Underline .underline--bar {
    color: black;
}