Screen {
    background: rgba(144, 185, 226, 1);
    color: black;
}

Footer, Header {
    background: black;
    color: white;
}

Tab {
    color: black;
}

Underline .underline--bar {
    color: black;
}