TelaEstoque TextArea {
    height: 5;
    margin: 1;
}

TelaEstoque Checkbox {
    margin: 1;
}

TelaEstoque Input {
    max-width: 85%;
}

TelaEstoque #hg_pesquisa {
    margin: 1;
    width: 100%;
}

TelaEstoque DataTable {
    margin: 1 1 1 0;
    width: 100%;
}

#v_left {
    width: 24%;
    margin: 1 0 0 0;
}

Footer {
    color: black;
}