TelaPessoa Grid {
    grid-size: 2;
    height: 100%;
    width: 100%;
    grid-gutter: 0;
    margin: 2;
}

TelaPessoa HorizontalGroup {
    align: center middle;
}

TelaPessoa Button {
    margin: 0 5 2 4;
}

TelaPessoa Grid Label{
    margin-top: 1;
}