TelaProduto Grid {
    grid-size: 2;
    height: 100%;
    width: 100%;
    grid-gutter: 0;
    margin: 2;
}

TelaProduto HorizontalGroup {
    align: center middle;
}

TelaProduto Button {
    margin: 0 5 2 4;
}

TelaProduto Grid Label{
    margin-top: 1;
}