TelaClientela TextArea {
    height: 5;
}

TelaClientela Checkbox {
    margin: 1;
}

TelaClientela Input {
    width: 90%;
}

TelaClientela #hg_pesquisa {
    margin: 1;
}

TelaClientela DataTable {
    margin: 2;
    width: 100%;
}