Horizontal {
    background: rgb(30, 30, 30);
    margin: 1;
    color: white;
    width: 100%;
    height: 10%;
    align: center middle;
}

# HorizontalGroup Button {
#     margin: 1;
#     background: green;
# }


Horizontal Static {
    width: 20%;
    height: 100%;
    text-align: center;
    dock: left;
    background: rgba(112, 103, 103, 1);
}