.produtos {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-decoration: none;
}

#info_produto {
    background-color: rgb(214, 204, 204);
    border: 1px solid #a39f9f;
    padding: 10px;
    margin-bottom: 20px;
    width: 30%;
    height: 300px auto;
    justify-content: center;
    text-align: center;
}

#produto_compra {
    background-color: rgb(214, 186, 186);
    border: 1px solid #cfcfcf;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: auto;
    height: 300px auto;
    display: flex;
    justify-content: space-between;
}

.produto_view {
    background-color: rgb(202, 190, 190);
    border: 1px solid #cfcfcf;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 70%;
    height: auto;
    min-height: 320px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

img {
    max-width: 70%;
    height: auto;
}
