.tabcontent {
    display: none;
}

.active {
    background-color: #ccc;
}

.tab {
    justify-self: center;
}

#h_buttons {
    background: var(--background-nav);
    margin: 10px 0 0 20px;
    width: 20%;
    height: 45px;
    justify-self: center;
}

#bt_apagar_cadastro {
    background-color: red;
    border: none;
    width: 50%;
    height: 100%;
}

#bt_salvar_alteracoes {
    background-color: green;
    height: 100%;
    width: 40%;
}

#container_cadastro {
    justify-self: center;
    align-self: center;
    margin: 50px 10px 20px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 2fr));
    row-gap: 30px;
    column-gap: 20px;
    width: 80%;
}

#container_anuncio {
    display: none;
}

.container {
    justify-self: center;
    align-content: center;
    width: 80%;
    background: var(--background-nav);
    margin-bottom: 20px;
    height: 100px;
}

#container_imagens {
    margin-top: 50px;
}