#imovelDestaque {
    background: rgb(135, 126, 126, 0.2);
    width: 70%;
    height: 150px;
    margin: 30px 6px 0px 6px;
    border: solid rgba(47, 45, 45, 0.2) 2px;
    border-radius: 3px;
    box-shadow: 0.1px 0.1px 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

section#anuncios {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 30px;
    margin: 50px 10px 10px 10px;
}

.anuncio_imovel {
    background: rgb(135, 126, 126, 0.2);
    width: 200px;
    justify-items: center;
}

.anuncio_imovel:hover {
    background: rgb(135, 126, 126, 0.4);
    cursor: pointer;
}

.anuncio_imovel img {
    width: 90%;
    height: auto;
    margin: 10px 2px 1px 2px;
    display: flex;
}

.preco {
    color: var(--hover);
}

#principaisAnuncios {
    background: rgb(135, 126, 126, 0.2);
    width: 80%;
    height: 150px;
    margin: 50px auto 10px auto;
    border: solid rgba(47, 45, 45, 0.2) 2px;
    border-radius: 3px;
    box-shadow: 0.1px 0.1px 3px black;
    display: flex;
    align-items: center;
}

.setas#setaDireita {
    margin-left: auto;
    margin-right: 13px;
}

.setas#setaEsquerda {
    margin-right: auto;
    margin-left: 13px;
}

.setas {
    text-align: center;
    align-content: center;
    height: auto;
}

.setas:hover {
    color: rgba(139, 49, 49, 0.8);
    cursor: pointer;
}