#imovelDestaque {
    background: rgb(135, 126, 126, 0.2);
    width: 50%;
    margin: 30px 6px 0px 6px;
    border: solid rgba(47, 45, 45, 0.2) 2px;
    border-radius: 3px;
    box-shadow: 0.1px 0.1px 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    position: relative;
    height: 27rem;
}


section#anuncios {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    row-gap: 30px;
    margin: 50px 10px 90px 10px;
    /* width: 100%; */
    /* background-color: aliceblue; */
    justify-self: center;
}

.anuncio_imovel {
    background: rgb(135, 126, 126, 0.2);
    width: 70%;
    justify-items: center;
}

.anuncio_imovel:hover {
    background: rgb(135, 126, 126, 0.4);
    cursor: pointer;
}

.anuncio_imovel img {
    width: 90%;
    height: auto;
    margin: 10px 2px 1px 2px;
    display: flex;
}

.preco {
    color: var(--hover);
}

#principaisAnuncios {
    background: rgb(135, 126, 126, 0.2);
    width: 80%;
    height: 22rem;
    margin: 50px auto 10px auto;
    border: solid rgba(47, 45, 45, 0.2) 2px;
    border-radius: 3px;
    box-shadow: 0.1px 0.1px 3px black;
    display: flex;
    align-items: center;
    position: relative;
    gap:10px;
}

.setas#setaDireita {
    margin-left: 1010px;
    position: absolute;
    margin-right: 13px;
}

.setas#setaEsquerda {
    margin-right: 0px;
    position: absolute;
    margin-left: 13px;
}

.setas {
    text-align: center;
    align-content: center;
    height: auto;
    position: absolute;
    z-index: 2;
    height: auto;
    width: 4%;
    background: rgba(0, 0, 0, 0.2);
}

.setas:hover {
    background: rgba(139, 49, 49, 0.8);
    cursor: pointer;
}

#principaisAnuncios h2 {
    margin: 20rem 28rem 0rem 0rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: auto;
    height: auto;
    z-index: 1;
}

#principaisAnuncios p {
    z-index: 2;
}

#imovelDestaque p {
    z-index: 2;
}

#imovelDestaque h2 {
    margin: 22rem 29rem 0rem 0rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: auto;
    height: auto;
    z-index: 1;
}

.sobrepor {
    position: absolute;
    z-index: 1;
}

#imgDestaque {
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: fill;
}

.imgBanner {
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: fill;
}

.imgBanner:nth-child(1+n) {
    display: none;
}