linkify-it-py
markdown-it-py
mdit-py-plugins
mdurl
pillow
platformdirs
Pygments
rich
textual
textual-image
typing_extensions
uc-micro-py
psutil
requests
ngrok
pymupdf
python-docx
beautifulsoup4
markdown
Pygments
geopy
# textual-map
# textual-pdf